@model IEnumerable<BookGUI.Services.ModelDTOs.CountryDto>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Message</h2>
<div>
    <h2>List of Countries</h2>
    @foreach(var item in Model)
    {
        <p>
            <strong>@item.Name</strong>
            <a asp-controller="Countries" asp-action="GetCountryById" asp-route-countryId="@item.Id"> | Details</a>
            <a asp-controller="Countries" asp-action="DeleteCountry" asp-route-countryId="@item.Id"> | Delete</a>
        </p>
       
    }

</div>



